Source: pytun
Maintainer: Gawen Arab <g@wenarab.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-pytun
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python TUN/TAP tunnel module

